.Game {
    display: flex;
    flex-direction: column;
    min-height: fit-content;
    text-align: center;
    align-items: center;
    margin-top: 20px;
}

.SaveScore {
    color: rgb(158, 158, 160);
    width: fit-content;
    cursor: pointer;
    margin-bottom: 10px;
}